venv64
venv32
progress.json
characters/__pycache__
core/__pycache__
load_and_save_files/__pycache__
output
create venv.bat
run_main.bat
instructions.txt
Makefile
exe
exe_dir
build
venv
main.spec
test/__pycache__
.ruff_cache
wordlist.txt