venv64
venv32
progress.json
Characters/__pycache__
core/__pycache__
LoadAndSaveFiles/__pycache__
output
create venv.bat
run_main.bat
instructions.txt
Makefile
exe
exe_dir
build
venv
main.spec
test/__pycache__